* {
    text-align: center;
}

body {
    background-color: lightgray;
    align-items: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkred;
    font-weight: bolder;
    font-size: 48pt;
}

h2 {
    font-size: 24pt;
}

.content {
    display: flex;
    
}

.side {
    width: 50%;
}

.post {
    color: black;
    padding-bottom: 40px;
}

.text {
    text-align: justify;
}

.picture {
    float: left;
    
}

.caption {
    font-size: smaller;
}

img {
    margin: auto;
    padding: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
}


nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: silver;
    padding: 20px;
}

#navigation, ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.navbutton {
    display:inline;
    color: black;

}

a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18pt;
}

form[method] {
    margin: 10px;
    padding-bottom: 30px;
    font-size: small;
}

div {
    padding: 10px;
}

@media (max-width: 400px) {
    h1 {
        font-size: 24pt;
    }

    h2 {
        font-size: 14pt;
    }

    .side {
        width: 2.5%;
    }
    
    .post {
        max-width: 350px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    #author-image {
        max-width: 80%;
        height: auto;
    }

}
